li {
    display: inline;
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
}

.showcase00{
    margin-bottom: 50px;
}

.header{
    min-height: 500px;
    justify-content: center;
}
.title h1{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.JS {
    background-color: #e9cb04; 
    color: #ffffff; 
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.PY {
    background-color: #3572A5;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.CSS {
    background-color: #264de4; 
    color: #fff; 
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.HTML {
    background-color: #e34c26;
    color: #fff; 
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.BOOT {
    background-color: #226a20;
    color: #fff; 
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.UNC {
    background-color: #7BAFD4;
    color: #ffffff; 
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.container {
    width: 100%; 
    max-width: 100%; 
    overflow: hidden;
    transition: transform 0.3s ease; 
    cursor: pointer;
    margin-bottom: 10px;
}
.container img{
    width: 90%;
    max-width: 100%; 
    height: auto;  
}
.container h3 {
    display: flex;
    justify-content: center;
}

.container:hover{
    transform: scale(1.1);
}


.right-showcase {
    display: flex;
    justify-content: center;
}

.left-showcase {
    display: flex;
    justify-content: center;
}

.card-img-top {
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform:scale(1.01)
}

/* BUTTON */

.btn {
    border-radius: 0;
}

/* CARDS */

.cards {
    max-width: 100%;
}
 .card img {
    height: 250px;
 }

 /* BACK */

 .back {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
 }

